h1 {
    padding: 12px;
    margin: 0;
    text-align: center;
}
#top-bar {
    display: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
    position: relative;
}
#navbar {
    position: relative;
    height: 150px;
}
#brand {
    width: 10%;
    height: auto;
    padding: 12px;
    display: inline-block;
    position: absolute;
}
#brand img {
    width: 100%;
    height: auto;
}
.inline {
    display: inline-flex;
    flex-direction: row;
}
.nav-list {
    list-style: none;
    justify-content: center;
    padding: 48px;
    float: right;
}
.nav-divise {
    margin: 0 24px;
    font-size: 1.3em;
    padding: 12px;
    color: #cdcdcd;
}
.nav-item {
    padding: 12px 0;
    position: relative;
}
.nav-link {
    text-decoration: none;
    font-size: 1.2em;
}
.nav-item:before {
    content: "";
    width: 0;
    height: 3px;
    background: #d6c2ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: 0.3s;
}
.nav-item:hover:before {
    left: 0;
    width: 100%;
}
#currentBefore:before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
#currentBefore:hover:before {
    left: 0%;
    width: 100%;
}
.no-before:before {
    display: none;
}
.nav-icon {
    background: none;
    border: none;
}