#navbar{
    position: relative;
    height: 120px;
    z-index: 10;
}
#top-bar {
    display: none;
}
#brand-logo {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 48px;
}
#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    padding: 40px 12px;
}

.nav-item {
    padding: 12px 24px;
    position: relative;
}
.nav-icon a, .nav-icon button{
    font-size: 20px;
    transition: color 0.3s;
}
.nav-icon a:hover, .nav-icon button:hover {
    color: var(--color3);
}
.nav-item:before {
    content: "";
    width: 0;
    height: 3px;
    background: var(--color2);
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.3s;
}
.nav-item:hover:before {
    width: 100%;
    left: 0;
}
#nav-current:before {
    width: 100%;
    left: 0;
}
.nav-link {
    text-decoration: none;
    color: var(--color2);
}
.nav-button {
    background: none;
    border: none;
}
.nav-icon:before {
    display: none;
}
@keyframes aparecer {
    from {
        margin-top: -200px;
    }
    to {
        margin-top: 0;
    }
}
@keyframes desaparecer {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -200px;
    }
}
#contain-search {
    position: relative;
    float: right;
    margin-top: -200px;
    border: 1px solid #cdcdcd;
    padding: 32px 24px;
}
#search-input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    outline-color: transparent;
    border: 1px solid var(--color1);
}
#search-input:focus-visible {
    box-shadow: 0 0 12px var(--color1);
    -moz-box-shadow: 0 0 12px var(--color1);
    -webkit-box-shadow: 0 0 12px var(--color1);
}
#search-quit {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px;
    z-index: 11;
}
@media only screen and (max-width: 1220px) {
    #brand-logo {
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        margin: 30px 24px;
    }
    .nav-item {
        padding: 16px;
    }
}

@media only screen and (max-width: 992px) {
    #navbar {
        height: auto;
        margin-top: -120%;
    }
    #nav-list {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: var(--color1);
        margin: 0;
        padding-top: 0;
    }
    .nav-item:before {
        display: none;
    }
    #brand-logo {
        display: none;
    }
    #brand-logo2 {
        display: inline-block;
        width: 80px;
        height: auto;
        margin: auto;
    }
    #top-bar {
        display: block;
        position: relative;
        z-index: 12;
        padding: 12px;
        font-size: 30px;
        color: var(--color2);
    }
    #contain-search {
        display: block;
        padding: 32px 0;
        float: none;
    }
    #contain-search form {
        margin: 0;
        padding: 0;
    }
    #search-input {
        width: 60%;
        margin-left: 20%;
    }
}
@keyframes navDown {
    to {
        margin-top: 0;
    }
}
@keyframes navUp {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -120%;
    }
}
@keyframes opaque {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes unopaque {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}