@media only screen and (max-width: 992px) {
    .col-center {
        width: 90%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 576px) {
    .col-center {
        width: 100%;
        margin-left: 0;
    }
}