@media only screen and (max-width: 992px) {

/*
Flexs Responsive
*/

.row {flex-direction: column;}
.row-r {flex-direction: column-reverse;}

/*
Grid
*/

.grid-2 {grid-template-columns: 1fr;}
.grid-3 {grid-template-columns: 1fr;}
.grid-4 {grid-template-columns: 1fr 1fr;}
.grid-5 {grid-template-columns: 1fr 1fr 1fr;}
.grid-6 {grid-template-columns: 1fr 1fr 1fr;}
.grid-8 {grid-template-columns: 1fr 1fr;}

.gap-2 {gap: var(--main-grid-gap-3) var(--main-grid-gap-1);}
.gap-3 {gap: var(--main-grid-gap-4) var(--main-grid-gap-1);}
.gap-4 {gap: var(--main-grid-gap-5) var(--main-grid-gap-2);}
.gap-5 {gap: var(--main-grid-gap-6) var(--main-grid-gap-2);}

}