* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}

/*
 *Palette Colors
*/
:root {
    --color1: #e63946;
    --color2: #a8dadc;
    --color3: #457b9d;
    --color4: #1d3557;
    --light: #f1faee;
    --dark: #0f0f0f;
}
.monserrat {font-family: "Monserrat", sans-serif;}
.lato {font-family: "Fredoka One", cursive;}

.bg-light {background: var(--light);}
.bg-dark {background: var(--dark);}
.bg-danger {background: var(--color1);}
.bg-darkblue {background: var(--color4);}
.bg-bluegray {background: var(--color3);}
.bg-lightblue {background: var(--color2);}

.danger {color: var(--color1);}
.light {color: var(--light);}
.dark {color: var(--dark);}
.darkblue {color: var(--color4);}
.bluegray {color: var(--color3);}
.lightblue {color: var(--color2);}